body{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}
input, button{
    padding: 10px;
    margin-bottom: 10px;
    width: -webkit-fill-available;
}
button{
    cursor: pointer;
}
form{
    width: 300px;
}
input{
    border: none;
}
button:active{
    opacity: 0.8;
}
.clear{
    background-color: transparent;
    border: none;
    color: white;
}
.solid{
    background-color: white;
    border: none;
    color: gray;
}
.outline{
    background: transparent;
    color: white;
    border: 1px solid white;
    
}
